@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL,MONO@300..800,1,0..1&display=swap');

h2 {
  font-family: 'Bungee Shade', cursive;
}

body {
  font-family: 'Recursive', monospace;
}

#about_ui_1-about {
  border:none;
  background-color: #F5F5F5;
}

.modal-body {
  font-family: 'Recursive', monospace;
  font-weight: 400;
}

.modal-body > h3 {
  font-weight: 700;
}