@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

h1 {
  font-family: 'Bungee Shade', cursive;
}

body {
  font-family: 'Pangolin', cursive;
}

#about_ui_1-about {
  border:none;
  background-color: #F5F5F5;
}

.modal-body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.modal-body > h3 {
  font-weight: 700;
}